#Sidebar{
    width: 150px;
    height: 100vh;
    flex-direction: column;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 20px;
    background-color: lightcoral;
    gap: 4px;
}